header {
    color: white;
}

.card {
    margin: 5px;
}

span {
    color: black;
}

.uv-low {
    background-color: green;
}

.uv-mod {
    background-color: yellow;
}

.uv-high {
    background-color: orange;
}

.uv-vHigh {
    background-color: red;
}

.uv-extreme {
    background-color: purple;
}