header {
    color: white;
}

input {
    width: 150px;
}

.card {
    margin: 5px;
}

span {
    color: black;
}

li:hover {
    font-weight: bold;
    cursor: pointer;
}

.bg-future {
    background-color: lightskyblue;
    color: white;
}

.uv-low {
    background-color: green;
    color: black;
}

.uv-mod {
    background-color: yellow;
    color: black;
}

.uv-high {
    background-color: orange;
    color: black;
}

.uv-vHigh {
    background-color: red;
    color: black;
}

.uv-extreme {
    background-color: purple;
    color: black;
}

